<!DOCTYPE html>
<html>
<head>
  <title>Pixtr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <h3>Welcome <%= current_user.email %></h3>
  <%= button_to "Not you?", sessions_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_path %>
  <%= link_to "Sign in", new_sessions_path %>
<% end %>  
  
<%= yield %>

</body>
</html>
